.social-container {
    display: flex;
}

.main-container {
    width: 100%
}

.head {
    height: 800px;
}

.create-post {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

.post-list {
    margin: 20px 50px;

}

.hash-tag {
    margin: 0px 3px;
}

.reactions {
    margin-top: 15px;
}

.wecome {
    margin: 50px;
}